* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container {
	width: 100%;
	min-height: 100vh;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
	overflow: hidden;
}

.login_navbar {
	width: 100%;
	display: flex;
	align-items: center;
}

.logo {
	width: 200px;
	cursor: pointer;
	margin: 0px 0;
}

.form-inline {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin-left: 150px;

}

/* Style the input fields */
.login_input {
	vertical-align: middle;
	margin: 5px 8px 5px 0;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
	padding: 10px 15px;
	background-color: #3D2460;
	border: 1px solid #ddd;
	color: white;
	cursor: pointer;
}

.form-inline button:hover {
	background-color: royalblue;
}

.row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 100px 0;
}
.col-1{
	flex-basis: 40%;
	position: relative;
	margin-left: 150px;
}

.col-1 h2{
	font-size: 40px;
	color: #3D2460;
}
.col-1 h3{
	font-size: 40px;
	color: #3D2460;
}
.col-1 h4{
	font-size: 40px;
	color: #3D2460;
}

.btn1{
	width: 140px;
	border: none;
	padding: 12px 10px;
	background-color: #00E0FF;
	outline: none;
	color: white;
	cursor: pointer;
	font-size: 15px;
	font-style: bold;
	margin-top: 10px;
}

.col-1::after{
	content:'';
	width: 8px;
	height: 65%;
	background: linear-gradient(#36dafb, #3D2460);
	position:absolute;
	left: -40px;
	top:8px;
}
.col-2{
	position: relative;
	flex-basis: 60%;
	display: flex;
	align-items: center;
}
.g-btn {
	margin-top: 10px;
	margin-left: 49px;
	width: 60% !important;
	height: 10px !important;
	line-height: 32px !important;
	font-size: 13px !important;
}

.g-btn>div,
.g-btn>div>svg {
	width: 30px !important;
	height: 30px !important;
}
.col-2 .controller{
	width: 100%;
	margin-top: -60px;
}
/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
	.form-inline input {
		margin: 10px 0;
	}

	.form-inline {
		flex-direction: column;
		align-items: stretch;
	}
}