* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background: rgb(231, 235, 247);
}

.container {
	width: 120%;
	min-height: 100vh;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
	overflow: hidden;
}

.login_navbar {
	width: 100%;
	display: flex;
	align-items: center;
}

.logo {
	width: 300px;
	cursor: pointer;
	margin-left: -40px;
	margin-top: -20px;

}

.form-inline01 {
	display: flex;
	margin-top:5em;
	margin-left: 60em;
	flex-direction: column;
	background: rgb(231, 235, 247);
	width: 24%;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
	padding-bottom: 35px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Style the input fields */
.login_input01 {
	margin-bottom: 20px;
}
.login_details{
	margin-bottom: 20px;
}
.login_p{
	font-size: 30px;
	font-weight: 500;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #080808;
	margin-bottom: -1px;
}
.login_h{
	font-size: 15px;
	color: #9a9999;
}
/* Style the submit button */
.LoginButton {
	background-color: #3D2460;
	border: 1px solid #ddd;
	color: white;
	cursor: pointer;
	font-size: 15px;
	margin-top:15px;
	height: 40px;
}

.form-inline button:hover {
	background-color: royalblue;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 60px 0;
}

.col-1 {
	flex-basis: 40%;
	margin-top: 10px;
}

.col-1 h2 {
	font-size: 51px;
	font-style: bold;
	color: #3D2460;
}

.col-1 h3 {
	font-size: 51px;
	color: #3D2460;
}

.col-1 h4 {
	font-size: 51px;
	color: #3D2460;
}

.btn1 {
	width: 140px;
	border: none;
	padding: 12px 10px;
	background-color: #00E0FF;
	outline: none;
	color: white;
	cursor: pointer;
	font-size: 15px;
	font-style: bold;
	margin-top: 10px;
	border-radius: 5px;
}
.gbtn {
	display: flex;
	width: 100%;
	max-width: 100vh;
	border-radius: 10px;
	padding-left: 10px;

  }
  
.g-btn {
	color: #2600fb;
	border-radius: 5px;
	font-size: 16px;
	border: white;
	outline: white;
	font-weight: 300;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	cursor: pointer;
  }
  
.col-2 {
	position: relative;
	flex-basis: 60%;
	display: flex;
	align-items: center;
}

.col-2 .controller {
	width: 75%;
	margin-top: -310px;
	margin-left: 550px;
}

.color-box {
	position: absolute;
	right: 0;
	top: 0;
	background: linear-gradient(#36dafb, #3D2460);
	border-radius: 20px 0 0 20px;
	height: 100%;
	width: 80%;
	z-index: -1;
	transform: translateX(150px);
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media only screen and (max-width:700px) {
	.form-inline {
		width: 100%;
		margin-top: 20px;
		background: linear-gradient(#fdffff, #00eeff);
		position: absolute;
		top: 75px;
		right: 0;
		z-index: 2;
	}

	.row {
		margin-left: 10px;
	}

	.col-2 {
		flex-basis: 100%;
		margin-bottom: 50px;
	}

	.color-box {
		transform: translateX(75px);
	}

	.col-1 {
		flex-basis: 100%;
	}

	.col-1 h2 {
		font-size: 20px;
	}

	.col-1 h3 {
		font-size: 20px;
	}

	.col-1 h4 {
		font-size: 20px;
	}
}


.container1 {
	width: 100%;
	height: 850px;
	padding-left: 5%;
	box-sizing: border-box;
	overflow: hidden;
}

.cont1 {
	margin-top: 100px;
	margin-left: 850px;
	padding-top: 35px;
	padding-bottom: 30px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	width: 28%;
}

.row1 {
	display: flex;
}

.col-3 {
	flex-basis: 40%;
	margin-top: 20px;
	margin-left: 11%;
}

.col-3 h2 {
	font-size: 25px;
}

.col-3 h3 {
	font-size: 15px;
	color: #b9bcbc;
}

.signup_incline {
	margin-left: 20px;
	padding-left: 10px;
	width: 300px;
	margin-bottom: 20px;
}

.signup_input {
	border: 1px solid #bdbdbd;
	color: white;
	cursor: pointer;
	font-size: 15px;
	margin-top: 15px;
	margin-left: 10px;
}

.signup_button {
	background-color: #3D2460;
	border: 1px solid #ddd;
	color: white;
	cursor: pointer;
	font-size: 15px;
	margin-top: 15px;
	margin-left: 10px;
	width: 292px;
	height: 40px;

}

.login_link {
	margin-left: 40px;
	font-size: 12px;
	margin-top: -15px;
}

.container2 {
	width: 100%;
	min-height: 100vh;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
	overflow: hidden;
}

.logo2 {
	width: 300px;
	cursor: pointer;
	margin-left: 50px;
	margin-top: -13px;
}

.navbar {
	display: flex;
	margin-top: -1px;
	outline: none;
}

.navbar__container {
	display: flex;
	list-style: none;
	font-size: 14px;
	margin-top: -10px;
	gap: 20px;
}

.search_button {
	background-color: #3D2460;
	border: 1px solid #ddd;
	color: white;
	cursor: pointer;
	font-size: 10px;
	border-radius: 10px;
	padding-top: 7px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 7px;
	width: 75px;
	margin-left: 10px;
}

.navbar__links {
	list-style: none;
	display: flex;
	gap: 50px;
	margin-top: 5px;
	margin-right: 100px;
}

u1 l1 Link {
	color: #080808;
	text-decoration: none;
}

.o1 {
	color: black;
}

.search_input {
	padding-left: 10px;
	width: 200px;
	height: 30px;
	border-radius: 10px;
	outline: none;
	border: 1px solid rgb(193, 193, 193);
}

.navbar__links :hover {
	color: #f50d0d;
}

.logout {
	background-color: #3D2460;
	border: 1px solid #ddd;
	color: white;
	cursor: pointer;
	font-size: 15px;
	margin-top: -9.5px;
	margin-left: 10px;
	width: 140px;
	margin-right: -20px;
	height: 37px;
}

.deatil_form {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	width: 28%;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 30px;
	padding-left: 30px;
	margin-left: 850px;
	margin-top: 100px;
}

.username_label {
	padding-top: 20px;
}

.username_input {
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	border-radius: 10px;
	border: #686868;
}

.department_select {
	padding-top: 20px;
}

.d_option {
	padding-top: 20px;
	height: 10px;
}

.profession_select {
	padding-top: 20px;
}

.detail_save {
	background-color: #3D2460;
	border: 1px solid #ddd;
	color: white;
	cursor: pointer;
	font-size: 15px;
	width: 292px;
	height: 40px;
}

.department_option {
	border-radius: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.profession_option {
	border-radius: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.logo4 {
	margin-left: 250px;
	border-radius: 10px 10px 150px 10px;
	border: 5px solid #ffffff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.item-list {
	height: 2000px;
}

.col5{
	margin-top: -330px;
	margin-left: 100px;
}

.col6 {
	font-size: 45px;
	color: #3D2460;
	font-weight: 549;
	margin-bottom: -12px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.show_form {
	margin-top: -20px;
	margin-left: 650px;
	align-items: center;
	background-color: #fff;
	border-radius: 24px;
	border-style: none;
	box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-flex;
	fill: currentcolor;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	height: 48px;
	justify-content: center;
	letter-spacing: .25px;
	line-height: normal;
	max-width: 100%;
	padding: 2px 24px;
	position: relative;
	text-align: center;
	text-transform: none;
	transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: auto;
	will-change: transform, opacity;
	z-index: 0;
}

.show_form_button {
	color: rgb(0, 0, 0);
	cursor: pointer;
	font-size: 15px;
	display: flex;
	background: none;
	border: none;
}

.show_form_input1 {
	margin-top: 30px;
	margin-left: 330px;
}

.show_form_input {
	width: 70%;
	display: flex;
	padding-right: 30px;
	border: #080808;
	box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
	padding-top: 45px;
	display: block;
	padding-left: 30px;
	flex-wrap: wrap-reverse;
	padding-left: 80px;
	height: 420px;
}

.input-box {
	width: 100%;
	margin-top: 20px;
}

.input-box label {
	color: #333;
}

.input-box input {
	position: relative;
	height: 40px;
	width: 80%;
	outline: none;
	border: 1px solid #a8a7a7;
	border-radius: 6px;
	padding: 0 15px;
	margin-top: 8px;
}

.column {
	display: flex;
	column-gap: 15px;
}

.column1 {
	display: flex;
	column-gap: 15px;
}

.show_form_button1 {
	background-color: #3D2460;
	border: 1px solid #ddd;
	color: white;
	cursor: pointer;
	font-size: 15px;
	width: 292px;
	height: 40px;
	margin-left: 160px;
}

.availabel_click {
	position: relative;
	margin-left: 600px;
	align-items: center;
	background-color: #fff;
	border-radius: 24px;
	border-style: none;
	box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-flex;
	fill: currentcolor;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	height: 48px;
	justify-content: center;
	letter-spacing: .25px;
	line-height: normal;
	max-width: 100%;
	padding: 2px 24px;
	position: relative;
	text-align: center;
	text-transform: none;
	transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: auto;
	will-change: transform, opacity;
	z-index: 0;
}

.a1 {
	color: rgb(0, 0, 0);
	cursor: pointer;
	font-size: 15px;
	display: flex;
	background: none;
	border: none;
}

.project_detail {
	position: relative;
	width: 390px;
	height: 370px;
	background: white;
	border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
	color: rgb(29, 27, 27);
	box-shadow: 20px 20px rgba(0, 0, 0, .15);
	transition: all .4s ease;
	margin-left: 60px;
	margin-top: 25px;
	padding-left: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 40px;
	display: inline-block;
}

.project_detail:hover {
	border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
	box-shadow: 10px 10px rgba(0, 0, 0, .25);
	background: rgb(216, 245, 248);
}

.project_detail h1 {
	font-size: 20px;
}

.project_detail h2 {
	font-size: 20px;
}

.project_detail h3 {
	font-size: 20px;
}

.project_detail h4 {
	font-size: 20px;
}

.project_detail h5 {
	font-size: 20px;
	color: red;
}

.project_detail h6 {
	font-size: 20px;
}

.apply_button {
	background-color: #3D2460;
	border: 1px solid #ddd;
	color: white;
	cursor: pointer;
	font-size: 15px;
	width: 310px;
	height: 40px;
	margin-top: 60px;
}

.login_reserch {
	background: rgb(46, 67, 92);
	margin-left: 87px;
	padding-left: 25px;
	height: 35px;
	padding-top: 2.9px;
	font-size: 20px;
	color: white;
	width: 87.3%;
	border-radius: 5px;
}

.services {
	width: 87.2%;
	background-color: white;
	margin-top: 2em;
	display: flex;
	justify-content: space-around;
	margin-left: 5.5em;
	gap: 20px;
	border: 1px solid #e4e4e4;
	padding-bottom: 30px;
}

.card {
	width: 25%;
	text-align: center;
	border: 2px solid #ffffff;
	padding-left: 10px;
}

.login_images {
	width: 260px;
	height: 260px;
	object-fit: contain;
}

.text_font {
	font-weight: bold;
	font-size: 15px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-box {
	margin-top: 10px;
}

.read_more {
	background-color: #5862a4;
	border: 1px solid #ddd;
	color: white;
	cursor: pointer;
	font-size: 15px;
	width: 100px;
	height: 40px;
	border-radius: 5px;
}

@media screen and (max-Width:990px) {
	.services {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}

	.card {
		width: 40%;
		margin-bottom: 2em;
		margin-right: 1em;
	}

	.login_images {
		width: 180px;
		height: 180px;
		object-fit: contain;
	}

}

/*@media screen and (max-Width:780px){
	.services{
		flex-direction: column;
	}
	.card{
		width: 70%;
		margin: 1em;
	}
}*/
.login_event {
	margin-top: 1.5em;
	background: rgb(46, 67, 92);
	margin-left: 87px;
	padding-left: 25px;
	height: 35px;
	padding-top: 2.9px;
	font-size: 20px;
	color: white;
	width: 87.3%;
	border-radius: 5px;
}

.events1 {
	width: 87.2%;
	background-color: white;
	margin-top: 2em;
	justify-content: space-around;
	margin-left: 5.5em;
	border: 1px solid #e4e4e4;
	padding-bottom: 30px;
}

.card1 {
	width: 87.2%;
	border: 2px solid #ffffff;
	padding-left: 30px;
	padding-top: 30px;
}

.text_font1 {
	font-weight: bold;
	font-size: 15px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin-bottom: 2px;
}

.text_font2 {
	font-size: 15px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text_font3 {
	font-size: 15px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #080808;
}

.login_navbar_new {
	margin-top: 1.5em;
	background: rgb(46, 67, 92);
	height: 35px;
	padding-top: 6.5px;
	font-size: 15px;
	color: white;
	width: 100%;
	display: flex;
	justify-content: center;
}

.faculty_members {
	margin-top: 0em;
	margin-left: 87px;
	width: 87.3%;
	justify-content: space-around;
}

.text_font4 {
	font-weight: bold;
	font-size: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin-bottom: 5px;
}

.text_font5 {
	font-size: 15px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #080808;
}

.department_links {
	margin-left: 87px;
	margin-top: 15px;
}

.dept_link {
	display: flex;
	flex-direction: column;
}

.bio_dept_img1 {
	width: 50%;
	background-image: linear-gradient(rgb(255, 255, 255), rgb(176, 184, 246));
	align-items: center;
	margin-left: 23em;
	margin-top: 2em;
	border-radius: 50px;
	border: none;
	outline: none;
	display: inline-block;
	padding-right: 5px;
	padding-bottom: 1em;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.bio_dept {
	padding-left: 10px;
	display: flex;
	flex-direction: row;
}

.bio_img {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	margin-left: 20px;
	margin-top: 30px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.title_bio {
	padding-top: 25px;
}

.faculty_name {
	color: rgb(46, 67, 92);
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 2px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profession_details {
	margin-bottom: 2px;
	font-size: 13px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bio_dept_img2 {
	margin-top: 2em;
	width: 41%;
	background-image: linear-gradient(rgb(255, 255, 255), rgb(176, 184, 246));
	margin-left: 5.5em;
	border-radius: 50px;
	border: none;
	outline: none;
	display: inline-block;
	padding-right: 5px;
	padding-bottom: 1em;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.text_font6 {
	margin-top: -1em;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text_font7 {
	font-size: 17px;
	font-weight: 500;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #080808;
}

.gif {
	display: flex;
	width: 400px;
	height: 400px;
	margin-left: 25em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.research_page1 {
	margin-top: 0em;
	margin-left: 87px;
	width: 87.3%;
}

.text_font8 {
	font-size: 17px;
	font-weight: 500;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #080808;
	text-align: justify;
	text-justify: inter-word;
}
.res2_img{
	display: flex;
	width: 600px;
	height: 400px;
	margin-left: 21em;
	margin-top: 1em;
	margin-bottom: 1em;
}
.text_font7_1 {
	font-size: 17px;
	font-weight: bold;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #080808;
}
.res3_img{
	display: flex;
	width: 700px;
	height: 400px;
	margin-left: 16.5em;
	margin-top: 1em;
	margin-bottom: 1em;
}
.res3_1_img{
	display: flex;
	width: 400px;
	height: 400px;
	margin-left: 25em;
	margin-top: 1em;
	margin-bottom: 1em;
}
